<h1>Dashboard</h1>

<form action="/add-log" method="POST">
  <label>Type:</label>
  <select name="type" required>
    <option value="gym">Gym</option>
    <option value="badminton">Badminton</option>
    <option value="Swimming">Swimming</option>
  </select><br>

  <label>Date:</label>
  <input type="date" name="date" required><br>

  <label>Details:</label>
  <input type="text" name="details" placeholder="eg. Exercise or Match" required><br>

  <button type="submit">Add Log</button>
</form>
<h2>Log History</h2>

<ul>
  <% logs.forEach(log => { %>
    <li>
      <strong><%= log.type.toUpperCase() %></strong> |
      <%= log.date %> |
      <%= log.details %>
    </li>
  <% }) %>
</ul>

<form action="/clear-logs" method="POST">
<button type="submit">Clear logs</button>
</form>




